:root {
    --route1-color: lightblue;
    --route2-color: #71BF9F;
    --route3-color: orange;  
}

body { 
    overflow-y: visible;
    padding: 1em;
}

.schedule {
    border: 1px solid black;
    padding: 10px;
    padding-bottom: 50px;
    margin: 0px 0px 20px 0px;
}

.routes {
    display: inline;
}

th:first-child, td:first-child, .route {
    padding-left: 12px;
    font-weight: bolder;
}

.route.route-1 {
    background-color: var(--route1-color);
}

.route.route-2 {
    background-color: var(--route2-color);
}

.route.route-3 {
    background-color: var(--route3-color);
}

.times {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
}

.times li {
    display: inline-block;
}

ul {
    list-style: none;
}


div label input {
   margin-right:100px;
}

body {
    font-family:sans-serif;
}

/* UI CSS */
